html .window-snap-indicator-fade-in {
    visibility: visible;
    opacity: 0.8;
}

html .window-applyanimation-minimize {
    opacity: 1.0;
    animation-direction: normal;
    animation-duration: .05s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: window-animation-minimize;
}

html .window-applyanimation-unminimize {
    opacity: 0.0;
    animation-direction: normal;
    animation-duration: .05s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: window-animation-unminimize;
}

html .window-applyanimation-close {
    transform-origin: 50% 50%;
    animation-direction: normal;
    animation-duration: .08s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: window-animation-close;
}

html .window-effect-transparency {
    opacity: 0.86;
}

html .window-effect-shade {
    transition: filter ease-out .1s;
    filter: grayscale(.3) brightness(.95);
}

html .window-effect-shade .gui-window__content {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 0 0 5px 5px;
}

html .context-menu-fadein {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0%);
}

html .menu-fadein {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0%);
}

html .clock-widget-fadein {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0%);
}

@keyframes window-animation-minimize {
    100% {
        opacity: 0.0;
        visibility: hidden;
    }
}

@keyframes window-animation-unminimize {
    100% {
        opacity: 1.0;
        visibility: visible;
    }
}

@keyframes window-animation-close {
    to {
        transform: scaleY(0);
    }
}

@keyframes animation-spinner {
    to {
        transform: rotate(360deg);
    }
}