.gui-overlay {
    position: fixed;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: white;
    opacity: 1.0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    &__center-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }

    p {
        color: rgb(30, 30, 30);
        font-size: 2rem;
        text-align: center;
    }

    &__spinner {
        display: inline-block;
        width: 192px;
        height: 192px;
        margin-bottom: 32px;
        border-top: 2px solid rgb(30, 30, 30);
        border-radius: 50%;
        
        transform-origin: 50% 50%;

        animation-duration: 0.36s;
        animation-timing-function: ease-out;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: animation-spinner;
    }
}