.window-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    filter: brightness(90%);

    &-close {
        background-image: url('../themes/newtheme/assets/window/window_button_close.png');
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-minimize {
        background-image: url('../themes/newtheme/assets/window/window_button_minimize.png');
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-maximize {
        background-image: url('../themes/newtheme/assets/window/window_button_maximize.png');
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* .window-effect-shade &-close {
        filter: brightness(250%);
    }

    .window-effect-shade &-minimize {
        filter: brightness(250%);
    }

    .window-effect-shade &-maximize {
        filter: brightness(250%);
    } */
}

.window-btn:hover {
    transition: ease-out 0.2s;
    filter: brightness(110%);
}