@import '_effects';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import '_gui-desktop';
@import '_gui-overlay';
@import '_gui-panel';
@import '_gui-window';
@import '_window-btn';


body {
    font-family: 'Montserrat';
}

a {

}

a:focus {
    outline: none;
}

img {
    border: none;
}