html .window-snap-indicator-fade-in {
    visibility: visible;
    opacity: 0.8;
}

html .window-effect-transparency {
    opacity: 0.86;
}

html .window-effect-shade {
    transition: ease-out .1s;
    filter: grayscale(.3) brightness(.95);
    border: none;
}

html .context-menu-fadein {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0%);
}