html .window-snap-indicator-fade-in {
    visibility: visible;
    opacity: 0.8;
}

html .window-effect-transparency {
    opacity: 0.86;
}

html .window-effect-shade {
    transition: filter ease-out .1s;
    filter: grayscale(.3) brightness(.95);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
}

html .context-menu-fadein {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0%);
}