@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import '_effects';

body {
    background-color: #00d4ff;
    font-family: 'Montserrat';
}

a {
    
}

a:focus {
    outline: none;
}

.gui-panel {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 35px;
    background: #5b5b5b;

    &__item {
        display: inline-block;
        text-align: center;
        padding-top: 7px;
        height: 100%;
        width: 12%;
        color: white;
        transition: background, color 0.2s;
        &--active {
            border-top: 4px solid black;
            padding-top: 4px;
            color: black;
            background: rgba(255, 255, 255, 0.87);
        }
    }
}

.window-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;

    &-close {
        background-image: url('../themes/newtheme/assets/window/window_button_close.png');
        background-size: 21px 21px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-minimize {
        background-image: url('../themes/newtheme/assets/window/window_button_minimize.png');
        background-size: 21px 21px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-maximize {
        background-image: url('../themes/newtheme/assets/window/window_button_maximize.png');
        background-size: 18px 18px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.gui-window {
    position: fixed;
    top: 200px;
    left: 250px;
    min-width: 350px;
    min-height: 400px;
    width: 350px;
    height: 400px;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    &__titlebar {
        position: relative;
        display: block;
        width: 100%;
        height: 30px;
        padding-top: 2px;
        background: #fabc00;
        border-radius: 5px 5px 0 0;
        color: white;
        font-weight: bold;
        &__buttons {
            display: block;
            float: left;
            width: 78px;
            height: 24px;
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
        }
        &__title {
            position: absolute;
            padding-top: 2px;
            left: 50%;
            transform: translateX(-50%);
            height: 24px;
            text-align: center;
            font-size: 1.1rem;
        }
    }

    &__content {
        border: 1px solid white;
        border-radius: 0 0 5px 5px;
        width: 100%;
        height: 100%;
        padding: 8px;
        background: white;
    }
}