@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import '_effects';

body {
    background-color: #00d4ff;
    font-family: 'Montserrat';
}

a {

}

a:focus {
    outline: none;
}

.gui-desktop {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 35px;
    left: 0;
    right: 0;

    &__window-snap-indicator-top {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: 3px solid white;
        background-color: #fabc00;
        transition: ease-out .15s;
    }

    &__window-snap-indicator-left {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        border: 3px solid white;
        background-color: #fabc00;
        transition: ease-out .15s;
    }

    &__window-snap-indicator-right {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        border: 3px solid white;
        background-color: #fabc00;
        transition: ease-out .15s;
    }
}

.gui-panel {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100vw;
    height: 35px;
    background: #5b5b5b;

    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    &__item {
        display: block;
        padding-top: 7px;
        border-right: 1px solid gray;
        height: 100%;
        width: 100%;
        color: white;
        transition: background, color 0.2s;

        &__icon {
            display: block;
            float: left;
            width: 22px;
            height: 22px;
            margin: 0 0 0 6px;
            background: rgba(0, 0, 0, 0.2);
        }

        &-wrapper {
            display: inline-block;
            padding: 0;
            height: 100%;
            width: 230px;
            text-align: center;
            
        }

        &--active {
            border-top: 4px solid black;
            padding-top: 3px;
            color: black;
            background-color: rgba(255, 255, 255, 0.87);
        }

        p {
            margin-bottom: 8px;
        }

        &__context-menu {
            visibility: hidden;
            position: relative;
            bottom: 335px;
            background-color: rgba(245, 245, 245, 1.0);
            border: 1px solid black;
            width: 100%;
            height: 300px;
            color: black;
            transition: all ease-out .15s;
            opacity: 0.0;
            transform: translateY(5%);

            &__content {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: auto;
                text-align: center;
                margin-bottom: 5px;
                padding-bottom: 5px;

                &__item-separator {
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    margin: -3px auto;
                    background-color: black;
                }

                &__menu-item {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    margin-top: 10px;
                    font-weight: bold;
                }
                
                &__menu-item:hover {
                    color: rgba(0, 0, 0, 0.75);
                }
            }
        }
    }

    &__clock {
        position: absolute;
        right: 0;
        margin-right: 10px;
        padding-top: 5px;
        color: white;
        font-size: 1.3rem;
    }
}

.window-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    filter: brightness(90%);

    &-close {
        background-image: url('../themes/newtheme/assets/window/window_button_close.png');
        background-size: 21px 21px;
        background-position: center;
        background-repeat: no-repeat;
        transition: ease-out .1s;
    }

    &-minimize {
        background-image: url('../themes/newtheme/assets/window/window_button_minimize.png');
        background-size: 21px 21px;
        background-position: center;
        background-repeat: no-repeat;
        transition: ease-out .1s;
    }

    &-maximize {
        background-image: url('../themes/newtheme/assets/window/window_button_maximize.png');
        background-size: 18px 18px;
        background-position: center;
        background-repeat: no-repeat;
        transition: ease-out .1s;
    }

    .window-effect-shade &-close {
        filter: brightness(250%);
    }

    .window-effect-shade &-minimize {
        filter: brightness(250%);
    }

    .window-effect-shade &-maximize {
        filter: brightness(250%);
    }
}

.window-btn:hover {
    transition: ease-out 0.2s;
    filter: brightness(110%);
}

.gui-window {
    position: fixed;
    z-index: 1;
    min-width: 350px;
    min-height: 400px;
    width: 350px;
    height: 400px;
    opacity: 1.0;
    border: 1px solid transparent;
    border-radius: 5px 5px 5px 5px;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    &__titlebar {
        position: relative;
        display: block;
        width: 100%;
        height: 30px;
        padding-top: 2px;
        background: #fabc00;
        border-radius: 5px 5px 0 0;
        color: white;
        font-weight: bold;
        &__buttons {
            position: relative;
            z-index: 2;
            display: block;
            float: left;
            width: 78px;
            height: 24px;
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
        }
        &__title {
            position: absolute;
            z-index: 1;
            padding-top: 2px;
            left: 0%;
            width: 100%;
            height: 24px;
            text-align: center;
            font-size: 1.1rem;
        }

        &__icon {
            position: absolute;
            top: 4px;
            right: 6px;
            width: 22px;
            height: 22px;
        }
    }

    &__content {
        position: absolute;
        border: 1px solid white;
        border-radius: 0 0 5px 5px;
        width: 100%;
        top: 30px;
        bottom: 0;
        padding: 8px;
        background-color: white;
        overflow: hidden;
    }

    #nw-resize-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    #ne-resize-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
    }

    #sw-resize-wrapper {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
    }

    #se-resize-wrapper {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
    }

    #nw-resize {
        position: absolute;
        z-index: 2;
        top: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        cursor: nw-resize;
    }

    #ne-resize {
        position: absolute;
        z-index: 2;
        top: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        cursor: ne-resize;
    }

    #sw-resize {
        position: absolute;
        z-index: 2;
        bottom: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        cursor: sw-resize;
    }

    #se-resize {
        position: absolute;
        z-index: 2;
        bottom: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        cursor: se-resize;
    }
}