@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import '_effects';

body {
    background-color: #00d4ff;
    font-family: 'Montserrat';
}

a {

}

a:focus {
    outline: none;
}

.gui-panel {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 35px;
    background: #5b5b5b;

    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    &__item {
        display: inline-block;
        text-align: center;
        padding-top: 7px;
        height: 100%;
        width: 12%;
        color: white;
        transition: background, color 0.2s;
        &--active {
            border-top: 4px solid black;
            padding-top: 3px;
            color: black;
            background-color: rgba(255, 255, 255, 0.87);
        }

        p {
            margin-bottom: 8px;
        }

        &__context-menu {
            display: none;
            position: relative;
            bottom: 335px;
            background-color: rgba(245, 245, 245, 1.0);
            border: 1px solid black;
            width: 100%;
            height: 300px;
            color: black;

            &__content {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: auto;
                text-align: center;

                &__item-separator {
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    margin: 3px auto;
                    background-color: black;
                }

                &__menu-item {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    font-weight: bold;
                    transition: all ease-out .2s;
                }
                
                &__menu-item:hover {
                    letter-spacing: .1rem;
                }
            }
        }
    }

    &__clock {
        position: absolute;
        right: 0;
        margin-right: 6px;
        padding-top: 5px;
        color: white;
        font-size: 1.3rem;
    }
}

.window-btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 1px;
    filter: brightness(90%);

    &-close {
        background-image: url('../themes/newtheme/assets/window/window_button_close.png');
        background-size: 21px 21px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-minimize {
        background-image: url('../themes/newtheme/assets/window/window_button_minimize.png');
        background-size: 21px 21px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-maximize {
        background-image: url('../themes/newtheme/assets/window/window_button_maximize.png');
        background-size: 18px 18px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.window-btn:hover {
    transition: ease-out 0.2s;
    filter: brightness(110%);
}

.gui-window {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 460px;
    min-width: 350px;
    min-height: 400px;
    width: 350px;
    height: 400px;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    &__titlebar {
        position: relative;
        display: block;
        width: 100%;
        height: 30px;
        padding-top: 2px;
        background: #fabc00;
        border-radius: 5px 5px 0 0;
        color: white;
        font-weight: bold;
        &__buttons {
            display: block;
            float: left;
            width: 78px;
            height: 24px;
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
        }
        &__title {
            position: absolute;
            padding-top: 2px;
            left: 50%;
            transform: translateX(-50%);
            height: 24px;
            text-align: center;
            font-size: 1.1rem;
        }
    }

    &__content {
        position: absolute;
        border: 1px solid white;
        border-radius: 0 0 5px 5px;
        width: 100%;
        top: 30px;
        bottom: 0;
        padding: 8px;
    }

    #nw-resize-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    #ne-resize-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
    }

    #sw-resize-wrapper {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
    }

    #se-resize-wrapper {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
    }

    #nw-resize {
        position: absolute;
        z-index: 2;
        top: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        cursor: nw-resize;
    }

    #ne-resize {
        position: absolute;
        z-index: 2;
        top: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        cursor: ne-resize;
    }

    #sw-resize {
        position: absolute;
        z-index: 2;
        bottom: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        cursor: sw-resize;
    }

    #se-resize {
        position: absolute;
        z-index: 2;
        bottom: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        cursor: se-resize;
    }
}